.detail {
  height: 100%;
  display: flex;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #474554;
  background-color: #dfdfdf;
  color: #474554;
  margin: 30px auto;
}