.task-title {
  display: flex;
  justify-content: space-between;

  .btn-ghost {
    background-color: #dfdfdf;
    color: #474554;
    border: 1px solid #474554;
    border-radius: 5px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 13px;
  }

  // .btn-ghost:hover {
  //   opacity: 1;
  //   background-color: #474554;
  //   color: #dfdfdf;
  // }

  a:hover {
    color: #474554;
    text-decoration: none;
  }
}

.btn-primary {
  border-radius: 5px;
  background-color: #dfdfdf !important;
  border: 1px solid #474554 !important;

  .btn-primary:hover {
    opacity: 1;
    background-color: #474554 !important;
  }

  // a:hover {
  //   color: #dfdfdf !important;
  // }
}

.form input[type="submit" i] {
  border: none;
  background-color: #dfdfdf !important;
  color: #474554;

  .form input[type="submit" i]:hover {
    background-color: #474554 !important;
    color: #dfdfdf !important;
  }
}

