body {
  background-color: #dfdfdf;
  min-height: 70vh;
  display: flex;
  align-items: center;
  color: #474554;
}

.container {
  padding: 20px;
  width: 100%;
  height: auto;
  max-width: 430px;
  min-width: 280px;
  margin: 40px auto 0 auto;
  background: #aca7cb;
  border-radius: 5px;
}

h1 {
  font-size: 33px;
}

.add {
  border-top: 1px solid #4A4A4A;
  padding-top: 15px;
}

.back {
  border-top: 1px solid #474554 !important;
  padding-top: 15px;

  i {
    color: #474554;
    text-decoration: none;
  }

  a {
    color: #474554;
  }
}

.form {
  margin: 30px auto;
}

.form-control {
  border-color: #474554;
  border-radius: 5px;
  color: #474554;
  background-color: #dfdfdf;
}

.form-control.is-valid {
  border-color: #474554 !important;
  background-image: none;
  border-radius: 5px;
  color: #474554;
}

.form-check-label {
  color: #474554 !important;
}

input[type="checkbox"] {
  margin-top: 10px;
}

a {
  color: #474554;

  // a:hover {
  //   text-decoration: none;
  // }
}

.fa, .fas, .far, .fal, .fab {
  vertical-align: middle;
}



@media (max-width: 720px) {
/* For a screen < 720px, this CSS will be read */ 
.container {
    width: 430px;
  }
}
@media (max-width: 540px) {
/* For a screen < 540px, this CSS will be read */
  .container {
    width: 280px;
  }

  .task-title {
    display: inline-block;
  }
}