.add {
  border-top: 1px solid #4A4A4A;
  padding-top: 15px;
}

.back {
  border-top: 1px solid #4A4A4A !important;
  padding-top: 15px;

  i {
    color: #167FFB;
    text-decoration: none;
  }
}

.form {
  margin-bottom: 30px;
}

.form-control.is-valid {
  border-color: #4A4A4A;
  background-image: none;
  border-radius: 5px;
}